@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  padding-top: 4rem;
  padding-right: 79.5%;
  display: flex;
  flex-direction: row;
  color: blue;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1;
}
/* h1:after */
h1:before {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid;
  margin-bottom: 5px;
}
h1:before {
  margin-right: 10px;
}
/* h1:after {
  margin-left: 10px
} */
.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  padding: 5px 15px;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  margin-top: 1.5rem;
  padding-bottom: 8px;
  font-weight: 700;
  font-size: 14px;
  margin-right: 1rem;

  border: none;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-1.5px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.2) scaleY(1.4);
  opacity: 0;
}

.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn::after {
  background-color: #b3baf4;
  border: 1px blue;
}

.btn-white {
  background-color: #fff;
  color: rgb(82, 166, 255);
  border: 1px solid rgb(82, 166, 255);
}

.btn-blue {
  background-color: rgb(82, 166, 255);
  color: #fff;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white {
  animation: moveInLeft 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.btn-blue {
  animation: moveInRight 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
